body{
color: red;
background: #fafad2;
border: red
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 26px;



} 

img{
width: 300px    
border: 200px darkred;
padding: 50px;

}






hr{
    height: 9px;
    background-color: darkred;
}

ul{
list-style-type: lower-roman;


}